<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="end center" mat-header-row="2">
  <a routerLink="/" ><img src="assets/logo-sem-fundo.png" alt="" style="width: 23vh; margin-top: 20px;" ></a>
  <span fxFlex></span>
</mat-toolbar>
<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="section">
    <h5 class="mat-display-1">Esqueceu sua senha?</h5>
  </div>

  <div class="container" fxLayout="row" fxFlexFill="">
    <span fxFlex.gt-sm="30" fxFlex.gt-xs="15" fxFlex.gt-lg="40"></span>
    <div class="mat-elevation-z6 container" style="padding: 32px 48px 0px 48px;" fxFlex="">

      <form [formGroup]="recoveryForm" fxFlex="">

        <p class="mat-title" fxLayoutAlign="center center">
          RECUPERAR SENHA</p>


        <mat-form-field appearance="standard" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" placeholder="meuemail@exemplo.com">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>


        <br/>

        <div>
          <button mat-raised-button color="primary" fxFlex class="ripple" [disabled]="!recoveryForm.valid" (click)="recovery()">SOLICITAR NOVA SENHA</button>
        </div>
        <br/>
        <div class='row'>
          <button mat-raised-button color="accent" routerLink="/register" fxFlex class="ripple">REGISTRE-SE</button>
        </div>
        <br>
        <br/>
        <mat-hint class="mat-caption" style="text-decoration: underline">
          <span fxFlex></span>
          <a color="accent" routerLink="/" style="text-decoration: underline">Voltar</a>
          <span fxFlex></span>
        </mat-hint>
        <br>
      </form>


    </div>
    <span fxFlex.gt-sm="30" fxFlex.gt-xs="15" fxFlex.gt-lg="40"></span>

  </div>


</div>
