<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="section">
    <h6 class="mat-display-1">Por favor, Preencha o Formulário</h6>
  </div>

  <div class="container" fxLayout="row" fxFlexFill="">
    <span fxFlex.gt-sm="30" fxFlex.gt-xs="15" fxFlex.gt-lg="40"></span>

    <div class="mat-elevation-z6 container" fxFlex="" style="padding: 32px 48px 0px 48px;">

      <form [formGroup]="registerForm">
        <p class="mat-title">CRIAR CONTA</p>


        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder="Primeiro nome">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Sobrenome</mat-label>
          <input matInput formControlName="surname" placeholder="Último sobrenome">
        </mat-form-field>

        <br>

        <mat-form-field appearance="standard" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" placeholder="meuemail@exemplo.com">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <br>


        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="genre">
            <mat-option value="m">
              Masculino
            </mat-option>
            <mat-option value="f">
              Feminino
            </mat-option>
            <mat-option value="o">
              Outro
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Informe uma senha</mat-label>
          <input matInput [type]="isShowOne ? 'text' : 'password'" formControlName="password">
          <mat-icon matSuffix *ngIf="!isShowOne" (click)="isShowOne = !isShowOne" style="cursor: pointer">
            visibility
          </mat-icon>
          <mat-icon matSuffix *ngIf="isShowOne" (click)="isShowOne = !isShowOne" style="cursor: pointer">
            visibility_off
          </mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Confirme sua senha</mat-label>
          <input matInput [type]="isShowTwo ? 'text' : 'password'" formControlName="confirm">
          <mat-icon matSuffix *ngIf="!isShowTwo" (click)="isShowTwo = !isShowTwo" style="cursor: pointer">
            visibility
          </mat-icon>
          <mat-icon matSuffix *ngIf="isShowTwo" (click)="isShowTwo = !isShowTwo" style="cursor: pointer">
            visibility_off
          </mat-icon>
        </mat-form-field>


        <br/>

        <div>
          <button mat-raised-button color="primary" (click)="save()" fxFlex class="ripple">CADASTRAR</button>
        </div>

        <br/>
          <mat-hint class="mat-caption" style="text-decoration: underline">
            <span fxFlex></span>
            <a color="accent" routerLink="/" style="text-decoration: underline">Já possuo uma conta</a>
          </mat-hint>
        <br>
      </form>


    </div>
    <span fxFlex.gt-sm="30" fxFlex.gt-xs="15" fxFlex.gt-lg="40"></span>

  </div>


</div>
