<div>
  <div class="section">
    <h5 class="mat-display-1">Por favor, Faça Login</h5>
  </div>

  <div class="container" fxLayout="row">
    <div class="mat-elevation-z6 container"
         style=" padding: 32px 48px 0px 48px;">

      <form [formGroup]="loginForm" >
        <p class="mat-title">LOGIN</p>




          <mat-form-field appearance="standard" class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" placeholder="meuemail@exemplo.com">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>


        <mat-form-field appearance="standard" class="full-width">
          <mat-label>Informe sua senha</mat-label>
          <input matInput [type]="isShow ? 'text':'password'" formControlName="password">
          <mat-icon matSuffix *ngIf="!isShow" (click)="isShow = !isShow" style="cursor: pointer">visibility
          </mat-icon>
          <mat-icon matSuffix *ngIf="isShow" (click)="isShow = !isShow" style="cursor: pointer">
            visibility_off
          </mat-icon>
        </mat-form-field>
        <br>
        <mat-hint class="mat-caption" style="text-decoration: underline" ><a routerLink="/recovery-password">Esqueci minha senha.</a></mat-hint>




        <br/>
        <br/>

        <div>
          <button mat-raised-button color="primary" fxFlex>ENTRAR</button>
        </div>
        <br/>
        <div class='row mat-caption'>
          <button mat-raised-button color="accent" routerLink="/register" fxFlex>REGISTRE-SE</button>
        </div>
        <br>
      </form>

    </div>
  </div>


</div>






