<div fxLayout="column" fxFlexFill>
  <div class="section" fxLayout="row" fxLayoutAlign="center center">
    <h5 class="mat-display-1">Por favor, Faça Login</h5>
  </div>

  <div class="container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div class="mat-elevation-z6 container" fxLayout="row" fxLayoutAlign="center center" fxFlex
         style="display: inline-block; padding: 32px 48px 0px 48px;">

      <form fxFlex="100" [formGroup]="loginForm" fxLayout="column">
        <p class="mat-title">LOGIN</p>


        <div fxLayout.gt-sm="row" fxLayout="column" fxFlex>

          <mat-form-field appearance="standard" fxFill>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" placeholder="meuemail@exemplo.com">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>


        <mat-form-field appearance="standard" fxFill>
          <mat-label>Informe sua senha</mat-label>
          <input matInput [type]="isShow ? 'text':'password'" formControlName="password">
          <mat-icon matSuffix *ngIf="!isShow" (click)="isShow = !isShow" style="cursor: pointer">visibility
          </mat-icon>
          <mat-icon matSuffix *ngIf="isShow" (click)="isShow = !isShow" style="cursor: pointer">
            visibility_off
          </mat-icon>
          <mat-hint fxFlexOffset.gt-xs="60" fxFlexOffset="50" ><a routerLink="/recovery-password">Esqueci minha senha.</a></mat-hint>
        </mat-form-field>


        <br/>

        <div fxLayout="row" fxFill fxLayoutGap="15" fxLayoutAlign="space-around center">
          <button mat-raised-button color="primary" fxFlex>ENTRAR</button>
        </div>
        <br/>
        <div class='row mat-caption'>
          <button mat-raised-button color="accent" routerLink="/register" fxFlex>REGISTRE-SE</button>
        </div>
        <br>
      </form>

    </div>
  </div>


</div>






